<section class="teams-section">
    <div class="container">
        <h2>{{ header }}</h2>
        <input 
            *ngIf="isTeamsSearch"
            type="text"
            class="custom-input"
            placeholder="Search by name or country"
            [formControl]="searchTeamByName"
        >
        <app-status 
            *ngIf="(loading$ | async) || (teams$ | async)?.length === 0"
            [status]="(loading$ | async) 
                ? 'Loading...' 
                : (error$ | async)
                    ? (error$ | async)?.statusText
                    : 'Nothing found'"
        ></app-status>
        <div 
            *ngIf="teams$ | async as teams"
            class="teams-list"
        >
            <app-team-preview-card
                *ngFor="let teamInfo of teams"
                [teamInfo]="teamInfo"
            ></app-team-preview-card>
        </div>
    </div>
</section>