<section class="team-section">
    <div class="container">
        <ng-container *ngIf="teamsState$ | async as teamsState">
            <app-status 
                *ngIf="teamsState.loading || teamsState.teams.length === 0"
                [status]="teamsState.loading 
                    ? 'Loading...' 
                    : teamsState.error
                        ? teamsState.error.statusText
                        : 'Nothing found'"
            ></app-status>
            <app-team-card 
                *ngIf="teamsState.teams.length > 0"
                [teamInfo]="teamsState.teams[0]"
            ></app-team-card>
        </ng-container>
    </div>
</section>