.player {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    &__photo {
        height: 166px;
        width: 200px;
        border-radius: 10px;
        overflow: hidden;
        img {
            height: auto;
            width: 100%;
            border-radius: 10px;
        }
    }
    &__name-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    &__name {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        p {
            font-size: 16px;
        }
    }
}