.header-section {
    height: 80px;
    width: 100%;
    background: var(--green-gradient);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .main-menu {
            &__list {
                display: flex;
                align-items: center;
                gap: 40px;
            }
        }
    }
}