<header class="header-section">
    <div class="container">
        <app-logo logoType="default-white"></app-logo>
        <nav class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__list__item">
                    <a href="#live" class="link">
                        Live Matches
                    </a>
                </li>
                <li class="main-menu__list__item">
                    <a routerLink="teams-list" class="link">
                        Teams
                    </a>
                </li>
                <li class="main-menu__list__item">
                    <a routerLink="favorites" class="link">
                        Favorites
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>