<div class="matches-section">
    <div class="container">
        <h2 [ngClass]="{'live': header === 'LIVE'}">{{ header }}</h2>
        <app-status 
            *ngIf="loading || matches.length === 0"
            [status]="loading ? 'Loading...' : 'Nothing found'"
        ></app-status>
        <div class="matches-list">
            <app-match-card 
                *ngFor="let match of matches"
                [match] = "match" 
            ></app-match-card>
            <!-- <app-match-card></app-match-card>
            <app-match-card></app-match-card>
            <app-match-card></app-match-card>
            <app-match-card></app-match-card>
            <app-match-card></app-match-card> -->
        </div>
    </div>
</div>
