<section class="matches-section">
    <div class="container">
        <h2 [ngClass]="{'live': header === 'LIVE'}">{{ header }}</h2>
        <ng-container *ngIf="matchesState$ | async as matchesState">
            <app-status 
                *ngIf="matchesState.loading || matchesState.matches.length === 0"
                [status]="matchesState.loading 
                    ? 'Loading...' 
                    : matchesState.error
                        ? matchesState.error.statusText
                        : 'Nothing found'"
            ></app-status>
            <div class="matches-list">
                <app-match-card 
                    *ngFor="let match of matchesState.matches"
                    [match] = "match" 
                ></app-match-card>
            </div>
        </ng-container>
    </div>
</section>
