.match-card {
    height: 265px;
    width: 400px;
    background-color: var(--gray-dark);
    box-shadow: 0 0 13px var(--gray-dark);
    // border: 1px solid var(--green);
    border-radius: 10px;
    padding: 30px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .league {
        display: flex;
        align-items: center;
        gap: 10px;
        .image-wrapper {
            height: 30px;
            width: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .match {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        &__team {
            width: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            .image-wrapper {
                height: 70px;
                width: 70px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                font-size: 17px;
                text-align: center;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .minute {
                font-size: 18px;
                color: var(--red);
            }
            .score {
                display: flex;
                align-items: center;
                gap: 20px;
                p {
                    font-size: 40px;
                }
            }
        }
    }
}
