.player-preview-card {
    height: 100px;
    background-color: var(--gray-dark);
    box-shadow: 0 0 7px var(--gray-dark);
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        opacity: 0.7;
    }
    &:active {
        opacity: 1;
    }
    .player-info {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        .player-photo {
            height: 45px;
            width: 45px;
            border-radius: 5px;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .player-name-position {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            .player-position {
                font-size: 14px;
            }
        }
    }
    .player-number {
        font-size: 20px;
    }
}
