<section class="main-section">
    <div class="container">
        <div class="image-wrapper">
            <img src="/assets/images/logo/isolated-white.svg" alt="Golazo logo">
        </div>
        <p class="text-slogan">Football starts here</p>
        <div class="description-wrapper">
            <a href="#live" class="link text-18pt">
                🔥 Follow the matches that are going on right now
            </a>
            <a routerLink="" class="link text-18pt">
                📅 Upcoming matches with up-to-date information
            </a>
            <a routerLink="teams-list" class="link text-18pt">
                🏟️ Detailed team and player pages
            </a>
            <a routerLink="" class="link text-18pt">
                ⭐ Ability to add your favorite teams to favorites
            </a>
        </div>
    </div>
</section>