:root {
    --black: #000000;
    --white: #F2F2F2;
    --red: rgb(226, 76, 76);
    --gray: #3e3e3e;
    --gray-dark: #292929;
    --green: #21690F;
    --green-light: #88C848;
    --green-gradient: linear-gradient(to right, #21690F, #88C848);
}